:root{
    --title-color: #f800d7;
    --stroke-color: #ffffff;
    --text-shadow-color:#ef06c4;
    --container-bg-color: rgba(0, 0, 0, 0.15);
    --container-border-color: #612570;
    --container-shadow-color: #451b4f;
    --hr-border-color: #fb9f00;
    --hr-bg-color: #ffffff;
    --submit-button-bg-color: #ff00ee;
    --submit-button-border-color: #ffffff;
    --submit-button-shadow-color: #ffffff;
    --submit-button-text-color: white;
    --add-coffee-head-color: #ff00d4;
    --add-coffee-head-stroke-color: #ffffff;
    --coffee-list-bg-color: rgba(0, 0, 0, 0.15);
    --coffee-list-border-color: #612570;
    --coffee-list-shadow-color: #451b4f;
    --coffee-list-text-color: #f800d7;
    --coffee-list-text-stroke-color: #000000;
    --clear-bg-color: rgba(255, 255, 255, 0.097);
    --input-color: #ffffff;
}