:root{
    --title-color: #ff00d4;
    --stroke-color: #27E5FA;
    --text-shadow-color:#27E5FA;
    --container-bg-color: rgba(0, 0, 0, 0.15);
    --container-border-color: #27E5FA;
    --container-shadow-color: #0a2e32;
    --hr-border-color: #27E5FA;
    --hr-bg-color: #27E5FA;
    --submit-button-bg-color: #83037a;
    --submit-button-border-color: #ffffff;
    --submit-button-shadow-color: #ffffff;
    --submit-button-text-color: white;
    --add-coffee-head-color: #ff00d4;
    --add-coffee-head-stroke-color: #ffffff;
    --coffee-list-bg-color: rgba(0, 0, 0, 0.15);
    --coffee-list-border-color: #27E5FA;
    --coffee-list-shadow-color: #083338;
    --coffee-list-text-color: #f800d7;
    --coffee-list-text-stroke-color: #000000;
    --clear-bg-color: rgba(255, 255, 255, 0.097);
    --input-color: #ffffff;
}