 @import "70s-two.css";
 body {
    margin: auto;
    background-image: url('./img/AridKaleidoscopicBlacklemur-size_restricted.gif');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#title {
    font-family: 'Audiowide';
    font-size: 5rem;
    color: var(--title-color);
     -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--stroke-color);
    text-shadow: 4px 4px var(--text-shadow-color);
    text-align: center;
    animation: pulse 2s infinite;
}
.input-label{
    color: var(--input-color);
    font-family: 'Bangers';
    margin-right: .3em;
}
.heading {
    position: relative;
}
.container{
    margin: 0 auto;
    background-color: var(--container-bg-color);
    opacity: 90%;
    border-radius: 10px;
    border: 5px solid var(--container-border-color);
    box-shadow: 8px 8px var(--container-shadow-color);
    position: relative;
    width: 90%;
    height: 20%;
    text-align: center;
    font-family: 'Bungee';
}
.select-container {
    position: relative;
    margin: 0 auto;
    top: 2rem; 
    display: flex;
    justify-content: center;
}

hr.line {
    border: 2px solid var(--hr-border-color);
    background-color: var(--hr-bg-color);
    margin-top: 1.5em;
    width: 80%;
}
.submit{
    display: flex;
    justify-content: center;
    
}
.submit-button{
    background-color: var(--submit-button-bg-color);
    color: var(--submit-button-text-color);
    border: 1px solid var(--submit-button-border-color);
    border-radius: 10px;
    cursor: pointer;
    margin-top: .5em;
    position: absolute;
}
.submit-button:active{
    border: 2px solid rgb(94, 94, 94);
    border-style: inset;
}
.add-coffee-head{
    color: var(--add-coffee-head-color);
     -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--add-coffee-head-stroke-color);
    text-shadow: 1px 1px var(--text-shadow-color);
    text-align: center;
    font-family: 'Audiowide';
    margin-bottom: 1.5em;
}
#coffee-list{
    background: var(--coffee-list-bg-color);
    border-radius: 10px;
    border: 5px solid var(--coffee-list-border-color);
    box-shadow: 8px 8px var(--coffee-list-shadow-color);
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    margin-top: 3rem;
    color: var(--coffee-list-text-color);
    font-family: 'Bangers';  
    width: 90%;
    height: 50vh;
    overflow: scroll;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--coffee-list-text-stroke-color);
    
}

.add-coffee-container{
    position: relative;
    margin: 0 auto;
    bottom: 2rem;
}
.clear {
    width: 70vw;
    margin: 0 auto;
    padding: 3em;
    border-radius: 2em;
    border: 1px solid gray;
    background-color: var(--clear-bg-color); 
    backdrop-filter: blur(3px);
    z-index: 1;
}
@keyframes pulse {
    0%{
        text-shadow:
    0 0  37px rgb(244, 4, 136),
    
    }
    50%{
        text-shadow:
        0 0 150px rgb(255, 0, 111);
    }
    100% {
        text-shadow:
    0 0 100px rgba(0, 0, 0 .1),
    
    }
}
