#title {
    font-size: 5em;
    font-weight: bold;
    font-family: 'Fugaz One', cursive;
    margin: 0;
    padding: 3rem;
    color: #f7003e;
    text-shadow: 1px 1px 8px #65021b, 0 0 3em #ff0040, 0 0 0.7em #fa0341;
    text-decoration: underline;
}

.heading{
    position: relative;
    height: 3rem;
    width: 40rem;
}

h1 {
    font-family: 'Kaushan Script';
}
body {
    height: 100vh;
    background: linear-gradient(white,#f7bd48,#d05205 70%);
    
}

hr.line {
    border: 2px solid #f42256;
    background-color: #f42256;
}
.container {
    background: #1EBFC2;
    opacity: 70%;
    box-shadow: 0px 0px 30px 15px #ef426d;
    border: 3px solid #f42256;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    width: 30%;
    box-shadow: 10px 15px black;
}
.select-container {
    font-family: 'Cinzel';
    display: block;
    text-align: center;
    color: white;
}
.add-coffee-head{
    text-align: center;
    color: white;
}
.add-coffee-container {
    font-family: 'Cinzel';
    text-align: center;
    color: white;
}
.coffee-list {
    border: 1px solid #ef426d;
    box-shadow: 10px 15px black;
    background: #1EBFC2;
    opacity: 70%;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    padding: 10px;;
    bottom: 80vh;
    width: 30%;
    height: 50vh;
    overflow: scroll;
}
.submit-button {
    background: #1EBFC2;
    color: white;
    border-radius: 3px;
}
.roast-select{
    font-family: 'Cinzel';
    background-color:white;
    font-weight: 1000;
    border-radius: 3px;
}
.search-bar{
    border-radius: 3px;
    font-family: 'Cinzel';
    font-weight: 1000;
}
#tree {
    position: relative;
    top: 19vh;
    left: 60%;
    width: 20%;
    height: 60%;
    flex: 2;
    z-index: -1;
}
#sun {
    background: #ffdd00ad;
    
    box-shadow: 0px 0px 45px 35px #FFDD00;
    border-radius: 50%;
    position: relative;
    top: -40vh;
    left:65%;
    width: 300px;
    height: 300px;
    z-index: -2;
}
